### Java ###
*.class
*.log
*.ctxt

### Package Files ###
*.jar
*.war
*.ear

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Spring Boot ###
/out/

### Logs ###
logs/
*.log
