# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Spring Boot
target/
bin/

# Maven
.mvn/
.settings/

# Gradle
.gradle/
build/

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store

# Application configs
application-dev.properties
application-prod.properties
application.properties
